<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Kyrsach-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/__route</jta-data-source>
    <class>Model.Circuit</class>
    <class>Model.Fuel</class>
    <class>Model.Health</class>
    <class>Model.Refill</class>
    <class>Model.Repair</class>
    <class>Model.Route</class>
    <class>Model.Routelist</class>
    <class>Model.Stop</class>
    <class>Model.Transport</class>
    <class>Model.Shift</class>
    <class>Model.Routetransport</class>
    <class>Model.Schedule</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="Kyrsach-ejbPU2" transaction-type="JTA">
    <jta-data-source>jdbc/__client</jta-data-source>
    <class>Model.Myuser</class>
    <class>Model.MyuserRole</class>
    <class>Model.Report</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
